# Mission to Mars - Script

## Dependecies

In [1]:
# Sep up dependecies

import webdriver_manager

import requests
import pymongo
import pandas as pd

import os

from splinter import Browser
from bs4 import BeautifulSoup
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

import time

# Scraping

## Nasa Mars New

In [2]:
# Scrape the Nasa Mars News Site and collect the last News Title and Paragraph Text
#Assing the text to variables that you can reference later.

executable_path={'executable_path':ChromeDriverManager(version="87.0.4280.88", path=os.path.join('Folder_with_executable')).install()}
#download and executable file to use ChromeDriver

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Driver [Folder_with_executable\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

In [3]:
browser=Browser('chrome', **executable_path, headless=False)

In [ ]:
#Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later
#Set up to scraping
browser=Browser('chrome', **executable_path, headless=False)
marsData={}
marsImage_urls=[]

news_url='https://mars.nasa.gov/news/'
browser.visit(news_url)
time.sleep(1)

html=browser.html
soup=BeautifulSoup(html,'html.parser')

In [ ]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 
# Assign the text to variables that you can reference later.
New_soup=BeautifulSoup(html,'html.parser')
#find title
result=New_soup.find('div', class_='list_text').find('div', class_='content_title')
New_title=result.next_element.get_text()
#find article
result_article=New_soup.find('div', class_='list_text').find('div', class_='article_teaser_body')
New_article=result_article.get_text()

#Store the variables
marsData['New_title']=New_title
marsData['New_article']=New_article
marsData

## JPL Mars Space Images - Featured Image

In [ ]:
# Visit the url for JPL Featured Space Image (https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars)
# Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
# Make sure to find the image url to the full size .jpg image.
# Make sure to save a complete url string for this image

image_url='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)
time.sleep(1)

html=browser.html
image_soup=BeautifulSoup(html, "html.parser")
image=image_soup.find('div', class_='carousel_items')
#Extract the url in the element <article></article>
url_image=image.article['style'].split('(')[-1]
url_image=url_image.split(')')[0]
url_image=url_image.replace("'","")

featured_image_url='https://www.jpl.nasa.gov'+url_image

marsData['featured_image_url']=featured_image_url
marsData

## Mars Facts

In [6]:
# Visit the Mars Facts webpage <https://space-facts.com/mars/> and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
# Use Pandas to convert the data to a HTML table string.

url_facts='https://space-facts.com/mars/'
table_facts=pd.read_html(url_facts)
table_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
Z=pd.DataFrame(data=table_facts[0])

In [18]:
Z.columns=['Descriptions','Value']
Z

           Descriptions                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:

Z.columns

Int64Index([0, 1], dtype='int64')

In [ ]:
#Close navegador
browser.quit()